/* general */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1{
  margin: 0;
  font-size: 60px;
  z-index: 0;
}
h2{
  font-size: 30px;
  margin: 0;
}
h3{
  margin: 0;
  font-size: 25px;
}
h4{
  font-size: 20px;
  margin: 0;
}
.fss{
  font-size: 14px;
}
.mm-col-blue{
  color: blue;
}
.mm-col-white{
  color: #fff;
}
.mm-col-gray{
  color: gray;
}
.mm-col-lightgreen{
  color: #00d7d2;
}
.mm-col-lightgray{
  color: #bec8dd;
}
.mm-bg-col-w{
  background-color: #fff;
}
.mm-bg-col-g{
  background-color: #f3f5f9;
}
.mrgt-20{
  margin-top: 20px;
}
.mrgt-10{
  margin-top: 10px;
}
.pallini{
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border: 1px solid blue;
  border-radius: 50%;
  display: inline-block;
}
.pallini:hover{
  background-color: blue;
}
main section, .header-top, .header-bottom, footer{
  padding-top: 50px;
  padding-bottom: 50px;
}
/* /general */
/* nav */
nav{
  position: fixed;
  width: 100%;
  z-index: 100;
}
.mm-nav {
  height: 80px;
}
.mm-nav:after{
  content: "";
  display: table;
  clear: both;
}
.cont-nav-left{
  width: 40%;
  float: left;
  padding-left: 50px;
}
.cont-nav-left > li:nth-last-child(1n+2){
  padding-right: 10px;
}
.cont-nav-right > li:nth-last-child(1n+2){
  margin-left: 10px;
}
.cont-nav-right > li:last-child{
  margin-left: 30px;
}
.cont-nav-right{
  float: right;
}
nav .mm-button{
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
}
nav img{
  width: 20%;
  float: left;
}
nav img, .cont-nav-right, .cont-nav-left{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
nav ul{
  margin: 0;
}
nav li{
  display: inline-block;
  color: black;
  font-size: 15px;
  position: relative;
}
nav ul a{
  color: black;
}
nav li ul{
  display: none;
}
nav li:hover ul {
  display: block;
  position: absolute;
  top: 20px;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}
li ul.list-2{
  width: 160px;
}
nav li:hover ul li{
  margin-left: 0;
}
.mm-burger-list{
  display:none;
  position: absolute;
  top: 60px;
  left: -70px;
  border: 1px solid black;
  background-color: #fff;
  padding: 10px;
}
.mm-burger-list li{
  height: 30px;
  line-height: 30px;
  display: block;
}
.mm-burger:hover .mm-burger-list{
  display: block;
}
.mm-burger{
    display: none;
    font-size: 40px;
    position: relative;
  }
/* /nav */
.mm-container{
  position: relative;
  top: 80px;
}
/* header */
/* header-top */
.header-top{
  background-image: url("../img/sfondo.jpg");

}
.header-box{
  padding: 40px 15px;
  border-radius: 10px;
}
.header-top input{
  width: 100%;
  margin-bottom: 10px;
}
.header-top .mm-button{
  width: 100%;
}
.mm-button-hd{
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  color: black;
  box-shadow: 2px 2px gray;
}
.mm-button-hd:hover{
  background-color: gray;
  box-shadow: 0 0;
  color: #fff;
}
.mm-button-hd i{
  margin-left: 15px;
}
/* /header-top */
/* header-bottom */
.mm-box-log > div > div{
  height: 100px;
  line-height: 100px;
}
.mm-box-log img{
  height: 80%;
}
/* /header-bottom */
/* /header */
/* main */
/* main sect1 */
.mm-cont{
  padding-left: 70px;
  padding-right: 70px;
}
.mm-cont img{
  height: 40px;
}
.mm-cont a:hover{
  color: #00d7d2;
}
.sect1 .mm-list{
  border-left: 1px solid gray;
}
.mm-list > div{
  padding:10px;
}
/* /main sect1 */
/* sezione 2 main */
.sect2-content{
  width: 100%;
  padding: 20px 50px;
}
.sect2 img{
  width: 70%;
}
.sect2 i, .sect5-content > .angle > i{
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: 20px;
}
.sect2 i:hover, .sect5-content > .angle > i:hover{
  font-size: 100px;
  position: relative;
  top: 35px;
}
/* /sezione 2 main */
/* sezione 3 main */
.sect3 img{
  height: 60px;
}
/* /sezione 3 main */
/* sezione 4 main */
.sect4, .sect6{
  background-image: linear-gradient(to bottom, #0042c1 , #001E9A);
}
.mm-mrg-pd-bb{
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bec8dd;
}
/* /sezione 4 main */
/* sezione 5 main */
.sect5-content{
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  height: 400px;
}
.sect5-content > div{
  display: inline-block;
}
.sect5-content > .angle{
  width: 15%;
  position: relative;
  bottom: 50%;
}
.sect5-box{
  height: 400px;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}
.sect5 .pos-a img{
  width: 50%;
}
.pos-a{
  position: relative;
  top: 80px;
}
/* /sezione 5 main */
/* footer */
footer{
  background-color: #010E28;
  position: relative;
}
footer .mrgt-10 span{
  font-size: 30px;
  margin-right: 8px;
}
footer .shark > div{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer .shark{
  position: relative;
}
footer .shark span{
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}
/* /footer */
@media screen and (max-width: 768px){
  /* nav */
  .mm-hidden{
    display: none;
  }
  nav img{
    height: 50%;
    width: auto;
  }
  .mm-burger{
    display: block;
    float: right;
    line-height: 80px;
  }
  /* /nav */
  /* header */
  .box-log img{
    height: 100%;
  }
  /* /header */
  /* sezione 1 main */
  .mm-cont{
    padding-left: 0;
    padding-right: 0;
  }
  .sect1 .mm-row1{
    margin-top: 20px;
  }
  .sect1 .mm-row2{
    margin-top: 0;
  }
  /* sezione 1 main */
  /* main sect2 */
  .mm-hidden{
    display: none;
  }
  .cont-pallini{
    padding-top: 60px;
  }
  .pallini{
    width: 10px;
    height: 10px;
  }
  .sect2-content{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
  }
  /* /main sect2 */
  /* main sect3 */
  .sect3 .pdb-mobile{
    padding-bottom: 10px;
  }
  /* /main sect3 */
  /* main sect4 */
  .mrg-t{
    margin-top: 40px;
  }
  /* /main sect4 */
  /* main sect5 */
  .sect5-content{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
    height: auto;
  }
  .sect5-box{
    height: auto;
    padding: 30px 5px;
  }
  .pos-a{
    position: relative;
    top: 0;
  }
  /* /main sect5 */
  /* footer */
  footer h4{
    margin-top: 20px;
  }
  .shark .fss{
    display: none;
  }
  /* /footer */
}
@media screen and (min-width: 769px) and (max-width: 991px){
  h1{
    font-size: 45px;
  }
  h3{
    font-size: 20px;
  }
  /* nav */
  nav .mm-hidden{
    display: none;
  }
  nav img{
    height: 50%;
    width: auto;
  }
  /* nav */
  .mm-burger{
    display: block;
    float: right;
    line-height: 80px;
  }
  /* /nav */
  /* header-bottom */
  .mm-box-log img{
    height: 60%;
  }
  /* /header-bottom */
  /* main sect4 */
  .mrg-t{
    margin-top: 40px;
  }
  /* /main sect4 */
  /* footer */
  footer h4{
    margin-top: 20px;
  }
  /* /footer */
}
